
#trailer-button {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px;
}

#trailer-urls {
    display: flex;
    flex-flow: column wrap;
}

.container { margin: 1%; }

#table-head-title {
    display: flex;
    flex-flow: column wrap;
    justify-content: : center;
}

#dropdown {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

#title {
    text-align: center;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    width: 10%;
    padding: 8px;
    text-align: left;
}
